.dashboard {
    display: flex;
  }
  
  .main {
    margin-left: 20%;
    width: 80%;
    padding: 20px;
  }
  
  .content {
    margin-top: 20px;
  }
  
  .card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  